{{ header }}{{ column_left }}
<div id="content" xmlns="http://www.w3.org/1999/html">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-dd" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-dd" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_dd_status" id="input-status" class="form-control">
                {% if module_dd_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <hr>
          <p>Импорт товара от поставщика 
            <a href="https://distributions.com.ua/about_company">"Прямые-дистрибуции"</a>
          </p>
          <p>Ссылка берется из раздела Прайсы -> Контент для YML</p>
          <ul>Импортируются:
            <li>"Категории"</li>
            <li>Группы атрибутов с наименованием как "Категории"</li>
            <li>Товар</li>
            <li>Атрибуты товара</li>
            <li>Загружаются все картинки для товара</li>
          </ul>
          <p>Если товар по наименованию уже есть в магазине, проверяется его количество и цена. Если они отличаются, то товар обновляется.</p>
          <hr>
            <label class="col-sm-4 control-label" for="input-xmlurl">{{ entry_xmlurl }}</label>
            <div class="col-sm-8">
                {% if module_dd_xmlurl %}
                  <input  class="form-control" type="text" name="module_dd_xmlurl" id="input_xmlurl" value="{{ module_dd_xmlurl }}">
                {% else %}
                  <input  class="form-control" type="text" name="module_dd_xmlurl" id="input_xmlurl">
                {% endif %}
            </div>
          <div class="form-group">
          </div>
        </form>
{#        <button class="btn btn-primary center-block" id="dd_import">Импорт</button>#}
{#        <button class="btn btn-primary center-block" id="dd_send_data">Отправить форму ниже</button>#}
<!--
        <script type="text/javascript">

          $(function(){
            // групповые операции с категориями
            $("input:checkbox").on("click", function() {
              // alert('click');
              let level = $(this).attr('data-category-level');
              let id = $(this).attr('id');
              id = id.split("_")[1];
              let parent_id = 0;
              if(level == 2){ parent_id = $(this).attr('data-parent_id'); }
              // выбор дочерних
              if( level == 1 && $(this).prop('checked') == true){
                $("input:checkbox").each( function (){
                  if($(this).attr('data-parent_id') == id )
                    $(this).prop('checked', true);
                    // console.log($(this).attr('id')+' '+id);
                });
              }
              // снятие выбора с дочерних
              if( level == 1 && $(this).prop('checked') == false){
                $("input:checkbox").each( function (){
                  if($(this).attr('data-parent_id') == id )
                    $(this).prop('checked', false);
                  // console.log($(this).attr('id')+' '+id);
                });
              }
              // при выборе дочерней - выбор родительской
              if( level == 2 && $(this).prop('checked') == true) {
                let parent = 'category_' + parent_id;
                $('#'+parent).prop('checked', true);
              }

              console.log( level+' '+id+' '+parent_id+' '+$(this).prop('checked') );
            });

          $('#dd_send_data').click(function () {
            const user_token = '{{ user_token }}';
            let json_send = 'data=[';
            $('#form-tree input:checked').each( function(){
              let data_category_name = $( this ).attr('data-category-name');
              let category_id = $( this ).attr('id');
              let id = category_id.split("_")[1];
              let local_category_id = 0;
              let level = $(this).attr('data-category-level');
              let parent_id = 0;
              if(level == 2){ parent_id = $(this).attr('data-parent_id'); }

              if( $('#local_category_'+id).length ){ local_category_id = $('#local_category_'+id).val(); }

              json_send += '{"category_id": "'+id+
                      '", "data_category_name": "'+data_category_name+
                      '", "local_category_id": "'+local_category_id+
                      '", "level": "'+level+
                      '", "parent_id": "'+parent_id+'"},';

            } );
            let trim_koma = json_send.replace( /,$/, "");
            json_send = trim_koma + ']';
            console.log( json_send );
            // тут можно отправлять аяксом на сервер ...
            $.ajax({
              url: 'index.php?route=extension/module/dd/import&user_token=' + user_token,
              // dataType: 'json',
              type: "POST",
              data: json_send,
              success: function(htmlText) {
                $('#messages').html('<pre>'+htmlText+'</pre>');
                // alert(htmlText);
              },
              error: function(htmlText) {
                alert('Error!');
              }
            });
          });
          });

        </script>
-->
{#        {% if messages %}#}
          <div class='alert alert-info' id='messages'>{{ messages }}</div>
{#        {% endif %}#}
        <hr>

{#        {{ tree }}#}

        <button id="jstree_expand" class="btn btn-sm btn-info">Развернуть все</button>
        <button id="jstree_collapse" class="btn btn-sm btn-info">Свернуть все</button>
        <button id="jstree_checkall" class="btn btn-sm btn-info">Отметить все</button>
        <button id="jstree_uncheckall" class="btn btn-sm btn-info">Снять отметку все</button>
        <button id="jstree_send" class="btn btn-sm btn-info">Send</button>
        <button id="jstree_save" class="btn btn-sm btn-info">Save</button>

        <div id="jstree_div"></div>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

        <script>
          $(function () {

            let selected = [];
            const user_token = '{{ user_token }}';

            $('#jstree_save').on("click", function () {
              console.log('selected = '+selected);
              $.ajax({
                url: 'index.php?route=extension/module/dd/ajax_jstree_save&user_token=' + user_token,
                // dataType: 'json',
                type: "POST",
                data: 'data='+selected,
                success: function(htmlText) {
                  $('#messages').html('<pre>'+htmlText+'</pre>');
                  // alert(htmlText);
                },
                error: function(htmlText) {
                  alert('Error!');
                }
              });
            });

            $('#jstree_send').on("click", function () {
              console.log('selected = '+selected);
              $.ajax({
                url: 'index.php?route=extension/module/dd/ajax_jstree_send&user_token=' + user_token,
                // dataType: 'json',
                type: "POST",
                data: 'data='+selected,
                success: function(htmlText) {
                  $('#messages').html('<pre>'+htmlText+'</pre>');
                  // alert(htmlText);
                },
                error: function(htmlText) {
                  alert('Error!');
                }
              });
            });

            $('#jstree_expand').on("click", function () {
              $('#jstree_div').jstree('open_all');
            });

            $('#jstree_collapse').on("click", function () {
              $('#jstree_div').jstree('close_all');
            });

            $('#jstree_checkall').on("click", function () {
              $('#jstree_div').jstree('check_all');
            });

            $('#jstree_uncheckall').on("click", function () {
              $('#jstree_div').jstree('uncheck_all');
            });
            $(function () { $('#jstree_div').jstree({
              "plugins" : [ "wholerow", "checkbox" ],
              'core': {
                'data': {
                  'dataType' : 'json',
                  'url': 'index.php?route=extension/module/dd/ajax_jstree&user_token=' + user_token,
                  }
                }
              });
            });

          $('#jstree_div').on("changed.jstree", function (e, data) {
            selected = data.selected;
            console.log('data.selected = '+data.selected);
          });

          });
        </script>
        <hr>

      </div>
    </div>
  </div>
</div>
{{ footer }}
